:root {
  --default-bg: grey;
  --custom-bg: red;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f0e9;
}
/* button container */
.button-container {
  margin: 5px auto 5px auto;
  width: max-content;
  display: flex;
}
.color-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
}
.btn-change-grid {
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #02C39A;
  height: 45px;
}
.btn-change-color {
  text-transform: uppercase;
  color: #fff;
  background-color: #02C39A;
}
.btn-color {
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #02C39A;
  height: 40px;
  margin: 0 10px 0 10px;
}
.random-color-button {
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #02C39A;
  height: 45px;
}

/* block container */
.container {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: 10px;
  border: 2px solid #084779;
  background-color: #87c9d7;
  padding: 5px;
  display: flex;
  width: 580px;
  height: 580px;
}
.div-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}
.div-block {
  border: .1px solid #fff;
  flex: 1 1 0px;
}
.grey-bg {
  background-color: var(--default-bg);
}
.custom-bg {
  background-color: var(--custom-bg);
}